<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience - Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://drive.google.com/file/d/1Gk_4DvCgpKPj_YPaCACFdlvA8RqxF4aX/view?usp=sharing" target="_blank">Resume</a></li>
                
            </ul>
        </nav>
    </header>

    <main class="experience-container">
        <h1>Experience</h1>
        <div class="experience-item">
            <h2>Assistant Systems Engineer</h2>
            <h3>Tata Consultancy Services (TCS), Bangalore</h3>
            <span>June 2024 - Present</span>
            <p>As an Assistant Systems Engineer, I am involved in software development projects using Java and Spring Boot. I collaborate with teams to design and implement solutions, conduct code reviews, and ensure project delivery within deadlines.</p>
        </div>
		<div class="experience-item">
            <h2>Freelance Developer</h2>
            <h3>Self-employed</h3>
            <span>Febuary 2024 - May 2024</span>
            <p>Worked on various freelance projects, focusing on web development and database management. Successfully delivered projects within tight deadlines, receiving positive feedback from clients.</p>
        </div>
        <div class="experience-item">
            <h2>Software Development Engineer Intern</h2>
            <h3>SIT Tumkur</h3>
            <span>June 2023 - October 2023</span>
            <p>During my internship, I worked on developing web applications using Java and MySQL. I gained experience in the software development lifecycle and collaborated with cross-functional teams to enhance application performance.</p>
        </div>

        
    </main>

</body>
</html>
