<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeevan Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://drive.google.com/file/d/1Gk_4DvCgpKPj_YPaCACFdlvA8RqxF4aX/view?usp=sharing" target="_blank">Resume</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <div class="intro-text">
                <p>Hello, my name is</p>
                <h1>Sanjeevan N </h1>
                <h2>Java SpringBoot Developer</h2>
                <div class="contact-info">
                    <p><img src="email-icon.png" alt="Email Icon"> sanjeevan.sitmca@gmail.com</p>
                    <p><img src="" alt="Phone Icon"> 7483963779</p>
                </div>
            </div>
            <div class="intro-photo">
                <img src="https://media.licdn.com/dms/image/v2/D5635AQHmLoSdQpILqQ/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1701055031231?e=1729364400&v=beta&t=5i1HPe2BUoBbJZac68SBC3QUpLWiovUjMFcDihO6Fa4" alt="Alex James">
            </div>
        </section>
    </main>
</body>
</html>
